@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

html,
body{
  height:100%;
  font-family: 'Poppins', sans-serif;
  background-color: #F3F3F3;
  background-image: url(desktop-wallpaper-earth-real-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a.backbtn {
    display: flex;
    padding: 4px 4px 4px 19px;
    float: left;
    background: #6e6e6e;
    font-size: 16px;
    margin-left: -20px;
    border-right: 7px solid #cacaca;
    border-radius: 0px 12px 12px 0px;
    text-decoration: none;
    box-shadow: 3px 1px 6px 1px rgba(0, 0, 0, 0.1);
    /* border-top: 3px solid #64a19e; */
    flex-wrap: nowrap;
    color: white;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 48px;
    z-index: 1;
}
.wrapper{
  height: 100%;
}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.right{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 6px;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 36px #ccc;
}
.right img{
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.sheet-body{
  position: relative;
  padding: 16px;
  font-size: 16px;
  background: darkslategrey;
}

#hintButton{
    position: absolute;
    top: -80px;
    right: 0;
    text-align: left;
    margin: 12px;
    padding: 16px;
    font-size: 1rem;
    border: 0;
    width: 126px;
    border-radius: 8px;
    background-color: #8BC34A;
    color: black;
    background-image: url(src/img/hint.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 36px;
}

#question{
  font-size:1.8rem;
  font-weight: 100;
  color: gold;
}
#answerHint{
  margin-top: 12px;
  color: wheat;
  font-weight: 100;
}
.overlay{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.open{
  visibility: visible;
  opacity: 1;
}

.hint{
  display: none;
}

.window{
  width: 300px;
  min-height: 200px;
  background-color: floralwhite;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 0 12px #0000005b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   border: 5px solid whitesmoke;
}

.window img {
  width: 64px;
  aspect-ratio: 1/1;
  margin-bottom: 12px;
}

.window h2{
  font-weight:bolder;
  margin-bottom: 12px;
}

.window p{
  text-align: center;
}

.window button{
    color: white;
    border-radius: 57px;
    padding: 14px;
    padding-inline: 12px;
    border: 0;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 15px;
    text-align: left;
    width: 170px;
}

.error{
  background-color: #F44336;
  color: white;
  background-image: url(src/img/retry-button.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 45px;
  background-position-x: 124px;
}
.success{
    background-color: #2AD352;
    color: white;
    background-image: url(src/img/next-button.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position-x: 124px;
}
.error-text{
  color: #F44336;
}

.success-text{
  color:#2AD352;
}

@media screen and (max-width: 600px) {
  #question{
    font-size:1.2rem;
    font-weight: 400;
  }
  .window{
    width: 200px;
  }
}

.state-name {
  font-size: 12px;
  fill: black;
}